<!--<header class="app-header">-->
<!--  &lt;!&ndash;  <img src = {{logoSrc}} class="app-logo" alt="logo"/>&ndash;&gt;-->
<!--  <h1 class="app-title">{{pageTitle}}</h1>-->
<!--</header>-->
<header>
  <div class="container header">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-4 mb-2 mb-md-0">
        <a href="/main-page" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src = {{logoSrc}} height="80px" alt="sun">
          <h1 class="app-title">{{pageTitle}}</h1>
        </a>
      </div>
    </div>
  </div>
</header>
